body{
    margin-left: 30px;
}



#header{
    background-image: url("circleskirtcalculator-logo.png");
    background-repeat: no-repeat;
    background-size: 50%;
    width: 900px;
    height: 200px;
    margin-left: -20px;
}

.hidden{
    visibility:hidden;
}

h3{
    margin-top: 50px;
}

.notice{
    font-weight: bold;
    font-style: italic;
}


#calculationform{
    width: 500px;
    float: left;
}

#skirtlabels{
    margin-left: 50px;
}

#radio{
    display: block;
    margin-top: 15px;
    text-align: left;
    margin-left: 200px;
}

legend{
    font-weight: bold;
    font-size: 20px;
}

form{
    margin-top: 30px;
}

label, input{
    display: inline-block;
}

input{
    padding-right: 20px;
}

.aligned{
    width: 150px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 10px;
    text-align: right;
}

#submitbutton{
    margin-top: 20px;
    width: 100%;
    display: block;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: orange;
    color: #fff;
    border: 2px solid orange;
    font-weight: 700;
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}

#submitbutton:hover{
    background-color: #fff;
    color: orange;
}

#patterndisplay{
    background-color: orange;
    width: 1000px;
    height: 570px;
    margin-top: 35px;
    margin-left: 100px;
    float: left;
}

.patternheader{
    margin-left: 50px;
    margin-bottom: -20px;
}

#instructions{
    float: left;
}

#instructions h3{
    display: block;
}

.patterntext{
    text-align: left;
}

.patternimg{
    margin: 50px;
    width: 500px;
    height: auto;
    float:left;
    border: 2px groove black;
}

#sidebar{
    margin-top: 40px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th{
    text-align: left;
    padding: 10px;
    background: #c0c0c0;
    color: #fff;
}

table tr td{
    text-align: left;
    padding: 10px;
    background: #f7f7f7;
}

table tr:nth-child(2n) td{
    background: #fff;
}